@keyframes slideout {
    0% { transform:translateX(800px); }
    20% { transform:translateX(800px) }
    35% { transform:translateX(-250px) }
    100% { transform:translateX(0px) }
}

@keyframes opacity {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    35% {opacity: 0.6;}
    100% {opacity: 1;}
}

@keyframes slidein {
    0% { transform:translateX(-800px); }
    20% { transform:translateX(-800px) }
    35% { transform:translateX(250px) }
    100% { transform:translateX(0px) }
}