body
{
    background: #000;
    box-sizing: border-box;
    position: relative;
}

.nav
{
    width: 33%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 60px;
}

.nav .links
{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .links .link
{
    font-size: 25px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.container-image
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-social
{
    width: 16.5%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 43%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

