body
{
    background: #000;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.nav
{
    width: 33%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 60px;
}

.nav .links
{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .links .link
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    animation: slidein 3s ease-in-out;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to right, #ff0000, #ff0000 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 300ms ease-in-out;
}

.nav .links .link:hover
{
    background-position: 0 100%;
}


.container-image
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-image .home-image
{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 3s;
    will-change: transform;
}

.container-image .home-image.loaded
{
    opacity: 1;
}

.card-id
{
    padding: 20px;
    width: 450px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 70%;
}

.card-id .name
{
    padding-bottom: 10px;
    font-size: 50px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    animation: slideout 3s ease-in-out;

}

.card-id .title
{
    padding-bottom: 15%;
    font-size: 30px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    animation: opacity 5s ease-in-out;

}

.card-id .button-home
{
    height: 50px;
    width: 140px;
    background: #B25656;
    border-radius: 3px;
    font-size: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    animation: opacity 5s ease-in-out;
}

.card-id .button-home a
{
    padding: 15px 25px;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to right, #ff0000, #ff0000 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 300ms ease-in-out;
}

.card-id .button-home a:hover
{
    background-position: 0 100%;
}

.container-social
{
    width: 10%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: opacity 6s ease-in-out;
}



